{%extends 'dashboard_base.html'%}
{%load static %}
{%block dashboard%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto mt-2" style="background-color: black;" >
            <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">Add a video</h1>
            <!-- <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to help you start exceeding your CX goals</h3> -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-5 card mx-auto p-3 my-5">
            <form action=""  method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="form-group">
                    <label for="">Video Title</label>
                    <input type="text" name="vt" class="form-control">

                </div>
                <div class="form-group">
                    <label for="">Upload a Video</label>
                    <input type="file" name="video" class="form-control">

                </div>
                <div class="form-group">
                    <label for="">Video Description</label>
                    <textarea type="text" name="vd" class="form-control"></textarea>

                </div>
                <div class="form-group">
                    <label for="">Teacher Name</label>
                    <input type="text" name="teacher" value={{teacher}} class="form-control" disabled>

                </div>
                <div class="form-group">
                    <label for="">Course Name</label>
                    <select name="cname" class="form-control" id="">
                        {%for c in courses%}
                        <option value="{{c.course_name}}">{{c.course_name}}</option>
                        {%endfor%}
                    </select>
                    
                </div>
                <div class="form-group">
                    
                    <input type="submit" class=" btn btn-outline-warning form-control">

                </div>

            </form>

        </div>

    </div>

</div>
{%endblock%}