{% extends 'base.html' %}
{% block content_block%}
<div class="conatiner-fluid">
    <div class="row">
        <div class="col-md-12 p-0 " style="background-color: black; height: 300px; width: 100%;" height="100" width="100%">

            <h1 class="text-white text-center " style="line-height: 300px;">Mycart</h1>

        </div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr.Num</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>

            </table>

        </div>

    </div>

</div>
{% endblock %}