{% extends 'dashboard_base.html'%}
{% load static%}
{%load bootstrap4%}
{% block dashboard%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mx-auto mt-2" style="background-color: black;" >
                <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">Add a Course</h1>
                <!-- <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to help you start exceeding your CX goals</h3> -->
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 mx-auto card p-3 my-4">
                
                
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <table >
                        {%bootstrap_form form%}
                    </table>  
                    <div><input type="submit" class="btn btn-outline-warning form-control" value="Add_course" class="btn btn-primary"></div> 
 
                    </form>
                    
                
            </div>

        </div>

    </div>
    {% if status %}
    <script>
        alert("{{status}}");
        window.location='/teacher_dashboard/'
    </script>
    {%endif%}
{%endblock%}