{% extends "base.html"%}
{%load static%}
{% block head_block%}
<style>
    .card:hover{
             transform: scale(1.1);transition: 1s;    
        }
        .checked {
  color: orange;
}
</style>
{% endblock %}
{% block content_block %}
<section>
    <div class="coantainer">
    <div class="container-fluid px-0">
        <div  class="row">
            <div class="col-md-12 px-0">
                <div  width="100%" style="height: 100px; background-color: black;">

                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12 px-0 " style="background: black;" >
                <div style="background: rgba(0,0, 0, 0.6);" class="py-5">
                    <!-- <h1 class="text-center"> <strong>Allcourses({{courses|length}})</strong></h1><hr> -->
                <div class="col-md-6 mx-auto">
                        <div class="row">
                            
                                    <div class="col-md-8 px-0">
                                        <form action="{%url 'all_courses'%}" method="post">
                                            {% csrf_token%}
                                        <input type="text" name="qry" placeholder="Search courses......" class="form-control"> 
                        
                                    </div>   
                                    <div class="col-md-4 px-0">
                                        <button type="submit" class="  btn btn-outline-warning form-control"><i class="fa fa-search"></i> Search</button>
                                    </form>
                                    </div>
                            

                        </div>

                </div>

                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="float-right">
                    <a href="{% url 'catagory' %}" class="btn mb-3 btn-outline-warning px-3 rounded-pill"><h5><strong>catagory</strong></h5> </a>
            
            
                </div>

            </div>
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <div class="row">
                    {%for  c in courses%}
                    <div class="col-md-3 shadow shadow-lg mt-3 mb-3">
                        <div class="card" style="width: 100%">
                            <img class="card-img-top" src=" /media/{{c.course_image}} " height="100" alt="Card image cap">
                            <div class="card-body">
                                <hr>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                <h6> <a href="{%url 'single_course'%}?cid={{c.id}}" class="btn form-control btn-outline-secondary"> {{c.course_name}} </a> </h6>
                                <!-- <h1> <a href="{%url 'video_all'%}?cid={{c.id}}"> Start </a> </h1> -->
                            <!-- <p class="card-text">{{c.details}}</p> -->
                            </div>
                        </div>

                    </div>
                     {%endfor%}

                </div>

            </div>
            <div class="col-md-2"></div>
            
            

        </div>
    </div>
    </section>
{% endblock %}