<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://use.fontawesome.com/e8fac03b7f.js"></script>
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
{% block head_block%}
{% endblock %}
{% block style_block%}

{% endblock %}
    <style>
        .active{
            background-color: rgb(255, 204,0);
        }
      
        .detail_back{
            background-color: black;
            height: 200px;
            padding-top: 70px;
        }
        .top_back{
            background-color: black;
            height: 400px;
            padding-top: 150px;
        }
        .track{
          position: relative;
          bottom: 10px;
          left: 10px;
      }
        .forgot{
            font-size: small;
        }
        .not_reg{
            font-size: small;
        }
       .home_land{
        border-bottom-right-radius: 1000%;border-top-left-radius: 100% ;
        
        background-color: black;
        width: 100%;
        height:600px;
       }
       .left-home{
            position: relative;
            top:200px;
            left: 50px;
            width: 400px;
            float: left;
       }
       .login-home{
        position: relative;
            top:180px;
            float: left;
            left: 20px;
           background-color: blanchedalmond;
           border-radius: 5px;
           width: 100%;
           height: 500px;
       }
       .nav-link{
           color: white;
       }
       .nav_fon{
           color: black;
       }
       .para{
           width: 400px;
    
       }
       
	   
	   .marginquery{
	   margin-top:20px;
	   margin-bottom:20px;
	   }
	   @media only screen and (max-width: 600px) {
  .marginquery{
	   margin-top:0px;
	   margin-bottom:0px;
	   }
       }
	   .loginformmarginquery{
	   margin-top:0px;
	   
	   }
	   @media only screen and (max-width: 600px) {
        .loginformmarginquery{
	   margin-top:30px;
         }
	   }
       
       .dropdownmenubgw{
            background-color: black;
            }

	   .dropdownmenubg{
	   background-color: none;
	   }
	   @media only screen and (max-width: 600px) {
            .dropdownmenubg{
                background-color: white;
          }    
  
	   }
       
       @media only screen and (max-width: 600px) {
  .dropdownmenubgw{
    background-color: black;
    
  }    
  
	   }
	   .go_at_3{
           background-color: black;
       }
    
        	.custom-toggler.navbar-toggler {
        border:3px solid white;
        }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    .nav-link:hover{
background-color:#FFCC00 ;
}
        .heading{
            font-size: 30px;
            /* position: relative; */
            line-height: 100px;
        }
       .navbar-brand{
           font-size: 40px;
           font-weight: bold;
       }

        .foottop{
        background-color:black;
        }
        .footlink{
        color:white;
        }
        
        .footlink:hover{
        color:darkcyan;
        }
        .footbot{
        background-color:#909190;
        }
        .footerlink{
                color: white; text-decoration:none;font-size: 20px;
               }
               .footerlink:hover{
                   color:darkcyan;
                   text-decoration: none;
               }
        
        </style>
           
</head>
<body>
    
    {% if user.is_superuser %}
    <h1>Admin not allowed there</h1>
    {%else%}
    <div class="container-fluid ">
        <!-- NAVBAR STARTS -->
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-xl navbar-dark " id="task" style="z-index:999; background-color:black; width:100%;position:fixed; top:0px;height: 101px;">
                    <a href="{% url 'home'%}" class="navbar-brand navbar-brand1 pl-5" id="logo">DOCEO</a>
                    <button class="navbar-toggler ml-auto custom-toggler" data-target="#mymenu" data-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mymenu" class="navbar-collapse collapse ">
                    
                    <ul class="navbar-nav mx-auto" style="word-spacing: 0px;font-weight: bold;font-size: 20px;">
                        <li class="nav-item " >
                            <a href="{% url 'home'%}" class="nav-link nav-link1 text-white {{active_home}} {{a}} mr-5 " id="link1" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about'%}" class="nav-link  nav-link1 text-white {{active_about}} {{a}} mr-5 "id="link2" >About Us</a>
                        </li>
                     
                        <li class="nav-item">
                            <a href="{% url 'contact'%}" class="nav-link nav-link1 text-white {{active_contact}} {{a}} mr-5" id="link4" >Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'all_courses'%}" class="nav-link nav-link1 text-white {{active_all_courses}} {{a}} mr-5" id="link3" >All Courses</a>
                        </li>
                        
                        {% if user.is_authenticated%}

                        <li class="nav-item ">
                            <a href="{% url 'user_logout'%}" class=" nav-link nav-link1 text-white btn btn-outline-warning    btn-lg text-warning rounded  mr-5" id="link5" >Logout</a>
                        </li>
                        {%if user.is_staff%}
                        <li class="nav-item">
                            <a href="{% url 'teacher_dashboard'%}" class="nav-link nav-link1 text-white btn btn-outline-warning   btn-lg text-warning rounded  mr-5" id="link6" >Teacher</a>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a href="{% url 'teacher_dashboard'%}" class=" nav-link  nav-link1 text-white btn-outline-warning   btn-lg text-warning rounded  mr-5" id="link7" >Student</a>
                        </li>
                        {%endif%}
                        {%else%}
                        <li class="nav-item">
                            <a href="" class=" nav-link nav-link1 btn btn-outline-warning text-white text-warning rounded    btn-lg mr-5" id="link8" data-toggle="modal" data-target="#myModal" >Login</a>
                        </li>
                        {%endif%}
                        
                    </ul>
                    </div>
                    



                </nav>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title ml-5 ">Log in</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 mx-auto   ">



                                         
                                        <form action="{%url 'user_login' %}" method="POST">
                                            {%csrf_token%}
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" required aria-describedby="basic-addon1">
                                              </div>
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" onclick="log_shw_pwd()"  id="basic-addon1" ><i class="fa fa-eye"  id="logicon" aria-hidden="true"></i></span>
                                                </div>
                                                <input type="password" id="logpwd" class="form-control" name="pswd"  placeholder="Password" required aria-label="Username" aria-describedby="basic-addon1">
                                              </div>
                                        
                                        <div class="row">
                                        <div class="col-md-9">
                                            <input type="checkbox"> <em> keep me signed in</em>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                        <div class="form-group mt-2">
                                            <input type="submit"  value="Login" class="btn btn-outline-warning rounded-pill btn-block">
                                        </div>
                                    </form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="{% url 'forgot_pass'%}" id="k" name="k">Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot" data-toggle="modal" data-target="#not_reg">Not Registered Yet?</a>
                                            </div>
                                        </div>
                                        
                                    
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                
                <div id="not_reg" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title ml-5 ">Register Here</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 mx-auto   ">
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <div class="input-group mb-3">
                                                
                                                <div class="col-md-6 px-0">
                                                    <input type="text" class="form-control"  name="fname" placeholder="First name" aria-describedby="basic-addon1" required>
                                                </div>
                                                <div class="col-md-6 px-0">
                                                    <input type="text" class="form-control"  name="lname" placeholder="last name" aria-describedby="basic-addon1" required>
                                                </div>

                                              </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="usrnm"  onkeyup="checkusr()" placeholder="Username" name="uname" aria-label="Username" aria-describedby="basic-addon1" required>
                                              </div>
                                              <div class="form-group">
                                                  <small id="rslt"></small>

                                              </div>
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                                                </div>
                                                <input type="text" class="form-control"  placeholder="E-mail" name="email" aria-label="Username" aria-describedby="basic-addon1" required>
                                              </div>
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                                                </div>
                                                <input type="text"  class="form-control" placeholder="Mobile number"  title="please enter 10 digit number" name="num" aria-label="Username" aria-describedby="basic-addon1"  pattern="[0-9]{10}" required>
                                              </div>
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-users"></i></span>
                                                  </div>
                                                  <select  name="utype" id="" class="form-control" required>
                                                      <option value="Teacher">I am Teacher</option>
                                                      <option value="Student">I am Student</option>
                                                  </select>

                                                
                                              </div>

                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" onclick="shwpass()" id="basic-addon1"><i class="fa fa-eye"id="icon" aria-hidden="true"></i></span>
                                                </div>
                                                <input type="password" id="pwd" class="form-control"  placeholder="Password" name="psd"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  aria-label="Username" aria-describedby="basic-addon1" required>
                                              </div>
                                              <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text"  onclick="shwpasse()" id="basic-addon1"><i class="fa fa-eye"  id="cpicon" aria-hidden="true"></i></span>
                                                </div>
                                                <input type="password" id="cpwd" class="form-control" onkeyup="pass()"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  placeholder="Repeat Password" name="rpsd" aria-label="Username" aria-describedby="basic-addon1" required>
                                              </div>
                                        
                                        <div class="row">
                                        <div class="col-md-9">
                                            <input type="checkbox"> <em> keep me signed in</em>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                        <div class="form-group mt-2">
                                            <input type="submit" id="submitbtn" name="rsbmt" value="Create Account" class="btn btn-outline-warning rounded-pill btn-block">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- <a href="" class="forgot" data-toggle="modal" data-target="#forgot_pass">Forgot Password?</a> -->
                                                <a href="{% url 'forgot_pass'%}"  >Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot" data-toggle="modal" data-target="#myModal">If you Already Registered ?</a>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
                
                <div id="forgot_pass" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modalcontent-->
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title ml-5 ">Forgot Password?</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        <div class="modal-body px-0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 mx-auto   ">
                                        <form action="">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                        <div class="form-group mt-2">
                                            <input type="submit" value="Continue" class="btn btn-outline-warning rounded-pill btn-block">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="" class="forgot">Forgot Password?</a>
                                            </div>
                                            <div class="col-md-6" >
                                                <a href="" class="forgot">Not Registered Yet?</a>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- NAVBAR ENDS -->
        

        {% block content_block %}

        {% endblock %}
        
        <!-- FOOTER STARTS -->
        <div class="row foottop">
		
            <div class="col-md-4 text-center ">
           <h1 style="color: white;">DOCEO</h1>
           <p style="color: white;">We Provide best knowlege and skills</p>
           <a href="#" class="footlink"><i class="fa fa-phone"></i>&nbsp;(+91) 0123456789<br/><br/></a>
           <a href="{%url 'contact'%}" class="footlink"><i class="fa fa-envelope-square"></i>&nbsp;contact@doceo.com<br/><br/></a>
           <a href="#" class="footlink"><i class="fa fa-map-marker"></i>&nbsp;DoceoTech Solutions, Mohali</a>
           </div>
           <div class="col-md-4  text-center">
               <h3  style="color: white;">Customer Service</h3>
                   <!-- <a class="footerlink" href="#" >Blog</a><br> -->
                   <a class="footerlink" href="{% url 'all_courses'%}" >Video Gallery</a><br>
                   <a class="footerlink" href="{% url 'contact'%}" >Feed Back</a><br>
                   <!-- <a class="footerlink" href="#" >Resort Policies</a><br> -->
                   <!-- <a class="footerlink" href="#" >Careers</a><br> -->
                   <a class="footerlink" href="{% url 'about'%}" >About</a><br>
           </div>
           <div class="col-md-4   ">
               <h3 class="text-center" style="font-family: 'Satisfy';font-weight: bold;color: white;" >D</h3>
               <h3  class="text-center"  style="font-family: 'Satisfy';font-weight: bold;color: white;" >O</h3>
               <h3  class="text-center" style="font-family: 'Satisfy';font-weight: bold;color: white;" >C</h3>
               <h3  class="text-center"  style="font-family: 'Satisfy';font-weight: bold;color: white;"   >E</h3>
               <h3  class="text-center"  style="font-family: 'Satisfy';font-weight: bold;color: white;" >O</h3>
               
           </div>
           
               
           <div class="col-md-12 footbot">
           <!-- <h3 class="text-center text-white " style="font-family: 'Satisfy';">Follow us on</h3> -->
           <h3 class="text-center text-white"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube"></i></h3>
   
           </div>
       </div>
       <!-- FOOTER ENDS -->
    </div>
    {%endif%}
    
     <!-- NAVBAR SCRIPT FOR RESIZING NAVBAR -->
     <script>
        // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("task").style.padding = "0px 0px";
            document.getElementById("task").style.backgroundColor = "white";
            document.getElementById("task").style.opacity = "1";
            document.getElementById("task").style.height= "80px";
	   
            $("#mymenu").removeClass("dropdownmenubgw");
            $("#mymenu").addClass("dropdownmenubg");
            $(".nav-link1").addClass("text-dark");
            $(".navbar-brand1").addClass("text-dark");
            document.getElementById("logo").style.transition= ".5s";
            document.getElementById("logo").style.color= "black";
            
            document.getElementById("task").style.transition= ".5s";  
          } 
        else {
            $("#mymenu").removeClass("dropdownmenubg");
            $("#mymenu").addClass("dropdownmenubgw");
            $(".nav-link1").removeClass("text-dark");
            $(".nav-link1").addClass("text-white");
            $(".navbar-brand1").removeClass("text-dark");
            document.getElementById("task").style.height= "101px";
            //document.getElementById("task").style.padding = "10px 10px 10px 10px";
            document.getElementById("task").style.backgroundColor = "rgba(112, 112, 156,0)";
            document.getElementById("task").style.transition= ".5s";
            document.getElementById("logo").style.transition= ".5s";
            document.getElementById("logo").style.color= "white";
            
             }
        }
    </script>


<!-- check user is valid or not  -->
<script>
    function checkusr(){
        let un = document.getElementById("usrnm").value;
        $.ajax({
            url:"{%url 'check_user' %}",
            type : "get",
            data:{usern:un},
            success:function(data){
                if (data=="exist"){
                    $("#rslt").html("this is already taken");
                }
                else{
                    $("#rslt").html("");
                }
            }
        })

    }
</script>

 <!-- Password match or not Match for REGISTRATION  -->
 <script>
    function pass(){
        let p = $('#pwd').val();
        let cp = $('#cpwd').val();
        if (p==cp){

            $("#pwd").addClass("alert alert-success").css("border","2px solid green ");
            $("#cpwd").addClass("alert alert-success").css("border","2px solid green");
            $("#submitbtn").removeAttr("disabled");
        }
        else{
            $("#pwd").removeClass("alert alert-success").addClass("alert alert-danger").css("border","2px solid red ");
            $("#cpwd").removeClass("alert alert-success").addClass("alert alert-danger").css("border","2px solid red ");
            $("#submitbtn").attr("disabled","disabled");
        }
    }
</script>

<!-- Show Password  for Registration -->
<script>
    function shwpass(){
        var p = document.getElementById("pwd");
        if (p.type==="password"){
            p.type="text";
            $("#icon").removeClass("fas fa-eye ").addClass("fas fa-eye-slash")
        }
        
        else{
            p.type="password";
            $("#icon").removeClass("fas fa-eye-slash ").addClass("fas fa-eye")

        }
    }
    function shwpasse(){
        var cp =document.getElementById("cpwd");
        if (cp.type==="password") {
            cp.type="text";
            $("#cpicon").removeClass("fas fa-eye ").addClass("fas fa-eye-slash")

        }
        else{
            cp.type="password";
            $("#cpicon").removeClass("fas fa-eye-slash ").addClass("fas fa-eye")


        }


    }
</script>
 <!-- show password for log in  -->
 <script>
    function log_shw_pwd(){
       var cp =document.getElementById("logpwd");
       if (cp.type==="password") {
           cp.type="text";
           $("#logicon").removeClass("fa fa-eye ").addClass("fa fa-eye-slash")

       }
       else{
           cp.type="password";
           $("#logicon").removeClass("fa fa-eye-slash ").addClass("fa fa-eye")


       }


   }
</script>
<script>
   $(function() {
  return $(".modal").on("show.bs.modal", function() {
    var curModal;
    curModal = this;
    $(".modal").each(function() {
      if (this !== curModal) {
        $(this).modal("hide");
      }
    });
  });
});
</script>



</body>
</html>