{% extends 'base.html'%}
{%load static%}
{% block head_block%}
<style>
    .card:hover{
             transform: scale(1.1);transition: 1s;    
        }
</style>
{% endblock %}
{%block  content_block%}
<div class="row px-0">
    <div class="col-md-12 px-0" style="height: 150px; width: 100%; background-color: black  ;" ></div>


</div>
    <h1 class="text-center" >Select a Catagory</h1>
    <div class="container">
        <div class="row">
            {% for i in catagory%}
            <div class="col-md-4 shadow shadow-lg mt-3 mb-3">
                <div class="card" style="width: 100%;">
                   
                    <img style="background-size: 100% 100%;" height="200" width="100%" src="/media/{{i.cover_image}}" alt="Card image cap">
                    <div class="card-body">
                        <hr>
                     <a href="{%url 'all_courses'%}?cid={{i.id}}"><h5 class="card-title">{{i.cat_name}}</h5></a> 
                      <p class="card-text">{{i.description}}</p>
                      <a href="{%url 'all_courses'%}?cid={{i.id}}" class="btn btn-outline-secondary form-control px-5">Click here... </a>
                    </div>
                  </div>
            </div>
            {%endfor%}
        </div>

    </div>
{%endblock%}