{% extends 'dashboard_base.html' %}
{% block dashboard%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto mt-2" style="background-color: black;" >
            <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">Change Password</h1>
            <!-- <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to help you start exceeding your CX goals</h3> -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 card p-4 my-5 mx-auto">
            {% if msz%}
            <h1>{{msz}}</h1>
            {%endif%}
            <form action="" method="POST">
                {%csrf_token%}
                <div class="form-group">
                    <label for="">Current Password</label>
                    <input type="password" class="form-control" name="cpwd">

                </div>
                <div class="form-group">
                    <label for="">New Password</label>
                    <input type="password" class="form-control" name="npwd">

                </div>
                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input type="password" class="form-control" >

                </div>
                <div class="form-goup">
                    <input type="submit" name="changepass" class="btn btn-outline-warning form-control" value="Change Password">

                </div>
            </form>

        </div>

    </div>

</div>
{%endblock%}