{% extends "base.html" %}
{% load static %}
{% block style_block %}
<style>
    .contact-body{
    position: relative;
    top:-130px;
      /* background-color: blanchedalmond; */
      background-color: white;
    
}
.fname,.lname,.emailinp,.phoneinp{
    background: none;
    border: 1px solid darkgrey;
}
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:hover{
    border-color: #FFCC00;
    -webkit-box-shadow: none;
    box-shadow: none;
}

</style>

{% endblock %}

{% block content_block %}
<section>
    <div class="container-fluid px-0">
        <div class="row px-0">
            <div class="col-md-12  p-5 px-0" style="background-color: black;">
                <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Let's Connect</h1>
                <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to help you start exceeding your CX goals</h3>
            
            </div>
        </div>
    </div>
    <div class="container shadow shadow-lg  contact-body" >
        <div class="row mt-5">
            <div class="col-md-6  mt-5 mb-5  ml-5 mr-3" >
                <h2>Feedback</h2><br/>
               
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" name="fname" class="form-control fname" name="" id="" placeholder="First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" name="lname" class="form-control lname" name="" id="" placeholder="Last Name">
                        </div>
                        <div class="col-md-12">
                            <label for="">Email</label>
                            <input type="text" name="email" class="form-control emailinp" name="" id="" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <label for="">Phone Number</label>
                            <input type="text" name="phn_num" class="form-control phoneinp" name="" id="" placeholder="E.g.: 0123456789">
                        </div>
                        <div class="col-md-12">
                            <label for="">Message</label>
                            <textarea type="" name="msg" rows="5" class="form-control phoneinp" name="" id="" placeholder="Write your message here...."></textarea>
                        </div>
                        <div class="col-md-12">
                            <br/>
                            <button class="btn   btn-outline-warning btn-block"> <strong>Submit Here</strong> </button>
                        </div>
                    </div>
                    
                </form>
    
            </div>
            <div class="col-md-5 mt-5 ml-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.1990754594863!2d76.69232891461024!3d30.712803393645064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee556c548209%3A0x9a1125eebce6cc68!2sQuadrant%20Televentures%20Limited!5e0!3m2!1sen!2sin!4v1580981648247!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <h4 class="mt-2">DoceoTech Solutions Pvt. Ltd. Mohali</h4>
            </div>
        </div>
       
    </div>
    <div class="container-fluid">
        <div class="row shadow shadow-lg  " style="margin-bottom: 200px; background-color: white;">
            <div class="col-md-12 mx-auto  text-center">
                <h1 class=" display-1">Contact Us</h1>
                
            </div>
            <div class="col-md-4 mb-5 text-center">
                <h1 class="text-center display-2"><i class="fa fa-mobile" aria-hidden="true"></i> </h1>
                <h1 class="text-center display-4">Contact Us</i></h1>
                <hr>

                <span><h2>Tollfree Number(help): </h2></span><span><h2><i class="fa fa-phone-square" aria-hidden="true"></i>1800204125</h2></span>
                <span><h2>Another Number(help): </h2></span><span><h2><i class="fa fa-phone-square" aria-hidden="true"></i>945565825</h2></span>
                <span><h2>For Complaint: </h2></span><span><h2><i class="fa fa-phone-square" aria-hidden="true"></i>945565825</h2></span>


            </div>
            <div class="col-md-4">
                <h1 class="text-center display-2"><i class="fa fa-map-marker" aria-hidden="true"></i></h1>
                <h1 class="text-center display-4">Come to Us</i></h1>
                <hr>
                <h1 class="text-center"> <a href="https://goo.gl/maps/DGMZgWYfWoqntCLfA"> Click here </a>  </h1>
                <h1 class=" text-center"> Or</h1>
                <h3 class="text-center">Visit us</h3>
                <h3 class="text-center">Doceo Tech</h3>
                <h3 class="text-center">Industrial area,</h3>
                <h3 class="text-center">Phase7,Mohali</h3>

            </div>
            <div class="col-md-4">
                <h1 class="text-center display-2"><i class="fa fa-clock-o" aria-hidden="true"></i></h1>
                <h1 class="text-center display-4">24/7 Support</i></h1>
                <hr>
                
                <h3 class="text-center">Doceo Tech</h3>
                <h3 class="text-center "> Mohali</h3>
                


            </div>

        </div>

    </div>
</section>
    
{% endblock %}