{% extends "base.html"%}
{%load static%}
{% block content_block %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>hello</h1>

        </div>

    </div>

</div>
{%endblock%}