{% extends "base.html"%}

{% load static %}
{% block head_block%}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
<link href="{% static 'flipbox_plugin/touch-3d-flip-box/dist/flip-box.min.css' %}" rel="stylesheet" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="{% static 'flipbox_plugin/touch-3d-flip-box/dist/flip-box.js' %}"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

{% endblock %}
{% block style_block %}
<style>
  .nav-link{
    color: white;
  }
  .nav-link:hover{
    background-color: yellow;
  }
  .nav-link:visited{
    background-color: yellow;
  }

  .bod-flip-box{
    height: 100%;
    width: 100%;
  }
</style>
{% endblock%}
{% block content_block %}
<section>
  <div class="container-fluid px-0 ">
    <div class="row px-0">
        <div class="col-md-12 bg-dark p-5 px-0">
            <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;">Courses</h1>
            <h3 class="text-center text-white">We'd <i style="color: red;"class="fa fa-heart"></i> to help you start exceeding your CX goals</h3>
        
        </div>
    </div>
</div>
<div class="container">
  

</div>
<div class="container-fluid" >
  <div class="row " style="margin-top:100px;margin-bottom: 100px;">
    <div class="col-md-2 pt-5 pb-5 bg-dark">
      <div class="nav  flex-sm-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Python</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Java</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Bootstrap</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dotnet</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-Django" role="tab" aria-controls="v-pills-Django" aria-selected="false">Django</a>

      </div>
     

    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <div class="container">
                <div class="row">
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box">
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box">
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                <div class="col-md-3">
                  <div class="card" style="height:200px; width:100%; ">
                    <div class="bod-flip-box">
                      <div class="flip-inner">
                        <div class="flip-front">
                          <div class="flip-front-content">
                            Front Content
                        </div>
                        </div>
                        <div class="flip-back">
                          <div class="flip-back-content">
                            Back Content
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                  </div>
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box" >
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="card" style="height:200px; width:100%; ">
                      <div class="bod-flip-box">
                        <div class="flip-inner">
                          <div class="flip-front">
                            <div class="flip-front-content">
                              Front Content
                          </div>
                          </div>
                          <div class="flip-back">
                            <div class="flip-back-content">
                              Back Content
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box">
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card" style="height:200px; width:100%; ">
                          <div class="bod-flip-box">
                            <div class="flip-inner">
                              <div class="flip-front">
                                <div class="flip-front-content">
                                  Front Content
                              </div>
                              </div>
                              <div class="flip-back">
                                <div class="flip-back-content">
                                  Back Content
                                </div>
                              </div>
                            </div>
                          </div> 
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card" style="height:200px; width:100%; ">
                            <div class="bod-flip-box">
                              <div class="flip-inner">
                                <div class="flip-front">
                                  <div class="flip-front-content">
                                    Front Content
                                </div>
                                </div>
                                <div class="flip-back">
                                  <div class="flip-back-content">
                                    Back Content
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </div>
                          </div>

                </div>
              </div>  
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">... </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">... </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <div class="container">
                <div class="row">
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box">
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box">
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                <div class="col-md-3">
                  <div class="card" style="height:200px; width:100%; ">
                    <div class="bod-flip-box">
                      <div class="flip-inner">
                        <div class="flip-front">
                          <div class="flip-front-content">
                            Front Content
                        </div>
                        </div>
                        <div class="flip-back">
                          <div class="flip-back-content">
                            Back Content
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                  </div>
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box" >
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="card" style="height:200px; width:100%; ">
                      <div class="bod-flip-box">
                        <div class="flip-inner">
                          <div class="flip-front">
                            <div class="flip-front-content">
                              Front Content
                          </div>
                          </div>
                          <div class="flip-back">
                            <div class="flip-back-content">
                              Back Content
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box">
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card" style="height:200px; width:100%; ">
                          <div class="bod-flip-box">
                            <div class="flip-inner">
                              <div class="flip-front">
                                <div class="flip-front-content">
                                  Front Content
                              </div>
                              </div>
                              <div class="flip-back">
                                <div class="flip-back-content">
                                  Back Content
                                </div>
                              </div>
                            </div>
                          </div> 
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card" style="height:200px; width:100%; ">
                            <div class="bod-flip-box">
                              <div class="flip-inner">
                                <div class="flip-front">
                                  <div class="flip-front-content">
                                    Front Content
                                </div>
                                </div>
                                <div class="flip-back">
                                  <div class="flip-back-content">
                                    Back Content
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </div>
                          </div>

                </div>
              </div>               
             </div>
            <div class="tab-pane fade" id="v-pills-Django" role="tabpanel" aria-labelledby="v-pills-Django-tab">  
              <div class="container">
                <div class="row">
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box">
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box">
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                <div class="col-md-3">
                  <div class="card" style="height:200px; width:100%; ">
                    <div class="bod-flip-box">
                      <div class="flip-inner">
                        <div class="flip-front">
                          <div class="flip-front-content">
                            Front Content
                        </div>
                        </div>
                        <div class="flip-back">
                          <div class="flip-back-content">
                            Back Content
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                  </div>
                <div class="col-md-3">
                <div class="card" style="height:200px; width:100%; ">
                  <div class="bod-flip-box" >
                    <div class="flip-inner">
                      <div class="flip-front">
                        <div class="flip-front-content">
                          Front Content
                      </div>
                      </div>
                      <div class="flip-back">
                        <div class="flip-back-content">
                          Back Content
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="card" style="height:200px; width:100%; ">
                      <div class="bod-flip-box">
                        <div class="flip-inner">
                          <div class="flip-front">
                            <div class="flip-front-content">
                              Front Content
                          </div>
                          </div>
                          <div class="flip-back">
                            <div class="flip-back-content">
                              Back Content
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card" style="height:200px; width:100%; ">
                        <div class="bod-flip-box">
                          <div class="flip-inner">
                            <div class="flip-front">
                              <div class="flip-front-content">
                                Front Content
                            </div>
                            </div>
                            <div class="flip-back">
                              <div class="flip-back-content">
                                Back Content
                              </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card" style="height:200px; width:100%; ">
                          <div class="bod-flip-box">
                            <div class="flip-inner">
                              <div class="flip-front">
                                <div class="flip-front-content">
                                  Front Content
                              </div>
                              </div>
                              <div class="flip-back">
                                <div class="flip-back-content">
                                  Back Content
                                </div>
                              </div>
                            </div>
                          </div> 
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card" style="height:200px; width:100%; ">
                            <div class="bod-flip-box">
                              <div class="flip-inner">
                                <div class="flip-front">
                                  <div class="flip-front-content">
                                    Front Content
                                </div>
                                </div>
                                <div class="flip-back">
                                  <div class="flip-back-content">
                                    Back Content
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </div>
                          </div>

                </div>
              </div>  
            
            
            </div>
          </div>

        </div> 

      </div>

    </div>
 

</div>
</section>

{% endblock %}


