{%extends "base.html" %}
{%load static%}
{% block content_block%}
<div class="coantainer-fluid">
    <div class="row">
        <div class="col-md-12 p-5" style="background-color: black;height: 150px; width: 100%;">

        </div> 
        <div class="col-md-2 px-0">
            {% if user.is_authenticated %}

            <nav class="navbar navbar-expand-md ">
                
                <button class="navbar-toggler mx-auto  custom-toggler" style="background-color: black;" data-target="#Tmenu" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="Tmenu" class="navbar-collapse collapse ">
                <ul class="navbar-nav mx-auto flex-column text-dark ">
                    <li class="nav-item">
                        <a href="" class="navbar-brand   text-dark"><small>{{user.username}}</small>
                    
                        </a>

                    </li>
                    <li class="nav-item">
                        <div class="text-center">
                        
                            {% if data.profile_pic%}
                            <img src="/media/{{data.profile_pic}}" class="rounded-circle" height="150" width="50%"  class="text-center" alt="">
                           {%else%}
                            <img src="{% static 'images/user.jpg'%}" class="rounded-circle" height="150" width="100%" alt="">
                            {%endif%}
            
                                </div>

                    </li>
                    <li class="nav-item">
                        {%if user.is_staff%}
                        <a href="{%url 'teacher_dashboard'%}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5" >View Profile</a>
                        {%else%}
                        <a href="{%url 'teacher_dashboard'%}" class="nav-link btn btn-outline-secondary my-1 text-dark w-100 px-5">View Profile</a>

                        {%endif%}
                    </li> 
                    <li class="nav-item">
                        <a href="{% url 'edit_profile' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5">Edit Profile</a>

                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'add_course' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5">Add_course</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'add_video' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5">Add_video</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'my_course' %}" class="nav-link btn btn-outline-secondary my-1 text-dark  w-100 px-5">My course</a>

                    </li>
                    {% endif%}   
                    <li class="nav-item">
                        <a href="{%url 'Enrolled_courses'%}" class="nav-link btn btn-outline-secondary text-dark  my-1 w-100 px-5">Enrolled_courses</a>

                    </li> 
                    <li class="nav-item">
                        <a href="{%url 'change_password'%}" class="nav-link btn btn-outline-secondary text-dark  my-1 w-100 px-5">change Password</a>

                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_logout'%}" class="nav-link btn btn-outline-secondary text-dark  my-1 w-100 px-5 ">Logout</a>

                    </li> 

                </ul>
                </div>

            </nav>
            {%endif%}
        </div>
        
        <div class="col-md-10 px-0">
            {% block dashboard %}

            {%endblock%}

        </div>

    </div>

</div>
{%endblock%}