{%extends 'dashboard_base.html' %}
{%load static%}
{% block dashboard%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-4">
            <div class="card shadow shadow-lg">
                <div class="card-body">
                    <div class="card">
                        <img src="/media/{{cours.course_image}}" height="200" width="100%" alt="">

                    </div>
                    <strong>Name:{{cours.course_name}}</strong>
                    <h4>Are you sure want to delete this course ?</h4>
                    <a href="{%url 'delete_course'%}?cid={{cours.id}}&&action=confirm" class="btn btn-danger">Confirm delete</a>
                    <a href="{%url 'my_course'%}" class="btn btn-warning">Cancel</a>

                </div>

            </div>

        </div>

    </div>

</div>
{% if status%}
    <script>
        alert("{{status}}")
        window.location="/my_course/"
    </script>
{%endif%}
{%endblock%}