{% extends "dashboard_base.html" %}
{%load static%}
{%block dashboard%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto mt-2" style="background-color: black;" >
            <h1 class="text-center text-white " style="font-family: 'Satisfy';font-weight: bold;">Edit   &nbsp;  Profile</h1>
            <!-- <h3 class="text-center text-white mb-5 pb-5">We'd <i style="color: red;"class="fa fa-heart"></i> to help you start exceeding your CX goals</h3> -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-5 card p-4 my-3 mx-auto">
            <div class="row">


                {% if status%}
                    <div class="alert alert-primary">{{status}}</div>
                {%endif%}




                {% if data.profile_pic%}
                <img src="/media/{{data.profile_pic}}" class="rounded" height="200" width="100%" class="mx-auto" alt="">
               {%else%}
                <img src="{% static 'images/user.jpg'%}" height="200" width="100%" class="mx-auto" alt="">
                {%endif%}
                <!-- form for change profile  -->
                
                    <div class="col-md-12">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {%csrf_token%}

                        <div class="form-group">
                            <label for="">First-name</label>
                            <input type="text" placeholder="Enter full name" name="fname" class="form-control" value="{{user.first_name}}">
        
                        </div>
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" name="lname" placeholder="enter age in number" class="form-control" value="{{user.last_name}}">
        
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" placeholder="Enter your email" name="email" class="form-control" value="{{user.email}}">
        
                        </div>
                        <div class="form-group">
                            <label for="">Profile Picture </label>
                            <input type="file" class="form-control" value="{{data.profile_pic}}" name="pic">

                        </div>
                        <div class="form-group">
                            <label for="">City</label>
                            <input type="text" value="{{data.city}}" placeholder="enter city name" name="ct" class="form-control">
        
                        </div>
                        <div class="form-group">
                            <label for="">Age</label>
                            <input type="text" name="age" value="{{data.age}}" placeholder="enter age in number" class="form-control">
        
                        </div>
                        <div class="form-group">
                            <label for="">Contact_Number</label>
                            <input type="text" name="mob" value="{{data.contact_number}}" placeholder="enter your number" class="form-control">
        
                        </div>
                        <div class="form-group">
                            <label for="">Select Gender</label>
                            <select  id="" name="gen" class="form-control" value="{{data.gender}}">
                               
                               
                                <option value="Male">Male</option>
                               
                               
                               
                                {% if data.gender == "Female" %}

                                <option value="Female" selected>Female</option>
                                {% else %}
                                <option value="Female">Female</option>


                                {%endif%}
                            </select>
        
                        </div> 
                        <div class="form-group">
                            <label for="">Ocuupation</label>
                            <input type="text" name="occ" value="{{data.occupation}}" placeholder="Enter occupation" class="form-control">
        
                        </div>
                        <div class="form-group">
                            <label for="">About</label>
                            <textarea   name="about" placeholder="Write about yourself" class="form-control" >{{data.about}}</textarea>
                        </div>  
                        
                        
                    
                    <div class="form-group text-center">
                        <input type="submit" name="changeprofile" value="Save Changes" class="btn btn-outline-warning form-control rounded-pill" >
                    </div> 
                </form>
            </div>
            </div>
            


        </div>

    </div>

</div>
{%endblock%}