{% extends 'dashboard_base.html' %}
{% block dashboard %}
<style>
    .checked {
  color: orange;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto p-0 " >
            <h1 class="text-dark table-bordered mt-2 text-center " style="line-height: -10px;"> Enrolled Courses</h1>
        </div>
       
       

    </div>
    <div class="row">
        {%for  c in enc%}
        <div class="col-md-3 shadow shadow-lg mt-3 mb-3">
            <div class="card" style="width: 100%">
                <img class="card-img-top" src=" /media/{{c.courses.course_image}} " height="100" alt="Card image cap">
                <div class="card-body">
                    <hr>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                    <h6> <a href="{%url 'single_course'%}?cid={{c.courses.id}}" class="btn form-control btn-outline-secondary"> {{c.courses}} </a> </h6>
                  
                </div>
            </div>

        </div>
        {%endfor%}

    </div>

</div>
{% endblock %}