{% extends 'base.html' %}
{% block content_block %}
<div class="container-fluid px-0">
    <div class="row px-0 ">
        <div class="col-md-12 bg-dark p-5 px-0">
            <h1 class="text-center text-white mt-5 mr-5 ml-5" style="font-family: 'Satisfy';font-weight: bold;"> Doceo</h1>
            <h3 class="text-center text-white mb-5 pb-5"> <i style="color: red;"class="fa fa-heart"></i> Give Feedback </h3>
        
        </div>
    </div>
</div>
<div class="row ">
   
    <div class="col-md-6 mx-auto   mb-5 ">
        <div class="card shadow shadow-lg mt-5 p-5">
            <form action="" method="POST">
                {% csrf_token %}
                <label for=""> Enter Subject</label>
                <div class="form-group">
                    <input type="text " class="form-control" name="fed_sub" placeholder="Enter Subject">
                </div>
                <label for=""> Enter Feedback</label>
                <div class="form-group">
                    <textarea  id="" cols="30" class="form-control" name="fed_detail" rows="10" placeholder="Enter Feedback Here..."></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-outline-warning">

                </div>

            </form>

        </div>


    </div>

</div>
<script>
    if('{{status}}'){
        alert('{{status}}');
    }
</script>
{%endblock%}