{%extends "base.html"%}
{% block head_block%}
<style>
    .spinner{
        height: 100px;width: 100px;border: 10px solid gray;border-bottom: 10px solid blue;
        animation:ani 1s linear infinite; border-radius: 50% ; margin: auto;
    }
    @keyframes ani{
        from{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
    }
</style>
{%endblock%}
{% block content_block%}

<div class="container-fluid  p-0 ">

    <div class="row p-0">
        <div class="col-md-12 p-0 " style="background-color: black; height: 100px; width: 100%;" height="100" width="100%">

        </div>
        
        <div class="col-md-6 mx-auto my-5 shadow shadow-lg">
            <div id="result"></div>
            <h2>RESET YOUR PASSWORD</h2>
            <hr>
            <form action="" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <label for="">Enter your Username</label>
                    <input type="text" name="username"  id="un" class="form-control" placeholder="Enter user name here........">
                    

                </div>
                <button type="button" class=" btn btn-outline-warning my-1 text-dark  w-100 px-5" onclick="getpass()" id="continue">Click to continue.........</button>
                <div class="mt-2" style="display: none;" id="spin">
                    <div class="spinner"></div>
                </div>
                <div class="form-group"style="display:none" id="afterotp">
                    <label for=""> Enter OTP</label>
                    <input type="number" class="form-control" id="uotp">
                    <button type="button" class=" btn btn-outline-warning my-1 text-dark  w-100 px-5 mt-4" onclick="matchotp()"> verify OTP</button>
  
                    <div style="display: none;" id="changepass">
                        <div class="form-group">
                            <label for="">New password</label>
                            <input type="password" name="npass" class="form-control">

                        </div>
                        <div class="form-group">
                            
                            <input type="submit" name="npass" class="btn  btn btn-outline-warning my-1 text-dark  w-100 px-5 ">

                        </div>
                    </div>
                    <input type="hidden"  id="realotp">
                </div>
            </form>

        </div>

    </div>

</div>
<script>
    function getpass(){
        $("#spin").show();
        let Username= $("#un").val()
        $.ajax({
            url:"{% url 'reset_pass'%}",
            type:"get",
            data: {Username:Username},
            success:function(data){
                $("#spin").hide();

                
                 if(data.status=="failed")  {
                    $("#result").html("<p class='alert alert-danger'>No user with this username</p>")
                }
                else if (data.status =="error"){
                    $("#result").html("<p class='alert alert-danger'>could not send email to "+data.email+" Something went wrong</p>")

                }else if (data.status=="sent"){
                    $("#result").html("<p class='alert alert-success'>An otp to send to email "+data.email+" id</p>")
                    $("#continue").hide()
                    $("#afterotp").slideDown(100);
                    $("#realotp").val(data.rotp)
                }
            }
        })

    }
    function matchotp(){
        uotp=$("#uotp").val();
        rotp=$("#realotp").val()
        if (uotp==rotp){
            $("#changepass").fadeIn(1000);
            $("#result").html("<p class='alert alert-success'>validation success </p>")
        }
        else{
            $("#result").html("<p class='alert alert-danger'>Incorrect otp</p>")
        }
    }
</script>

{%if status %}
<script>
    alert("{{status}}")
    window.location="/"
</script>
{%endif%}
{%endblock%}