{% extends "base.html" %}
{% load static %}

{% block style_block %}
<style>
.home_land{
    border-bottom-right-radius: 1000%;border-top-left-radius: 100% ;
    
    background-color: black;
    width: 100%;
    height:600px;
   }
   .left-home{
        position: relative;
        top:200px;
        left: 50px;
        width: 400px;
        float: left;
   }
   .login-home{
    position: relative;
        top:200px;
        float: left;
        left: 20px;
       background-color: blanchedalmond;
       border-radius: 5px;
       width: 100%;
       /* height: 50px; */
   }
   .nav-link{
       color: white;
   }
   .nav_fon{
       color: black;
   }
   
   #link1,#link2,#link3,#link4,#link5,#link6{
       color: white;
   }
   
   .marginquery{
   margin-top:20px;
   margin-bottom:20px;
   }
   @media only screen and (max-width: 600px) {
.marginquery{
   margin-top:0px;
   margin-bottom:0px;
   }
   }
   .loginformmarginquery{
   margin-top:10px;
   
   }
   @media only screen and (max-width: 600px) {
.loginformmarginquery{
   margin-top:30px;
}
   }
   
   .learnthewaymarginquery{
   margin-top:0px;
   margin-bottom: 100px;
   
   }
   @media only screen and (max-width: 600px) {
.learnthewaymarginquery{
   margin-top:750px;
   margin-bottom: 100px;
}   
   }
   .go_at_3{
       background-color: black;
   }
   .card:hover{
             transform: scale(1.1);transition: 1s;    
        }

        
.checked {
  color: orange;
}
    
</style>
{% endblock %}

{% block content_block %}
<!-- TOP HEADER BACKGROUND STARTS-->
<div class="row px-0 home_land">
                
    <div class="col-md-6  mx-auto">
        <h4 class="text-warning " style="margin-top: 180px;">THE SMARTEST WAY TO</h4>
        <h3 class="text-white">Learn Web Development Online</h3>
        <p class="ml-5 text-justify text-secondary ">The skills people and businesses need to succeed are changing. No matter where you are in your career or what field you work in, you will need to understand the language of web. With DataCamp, you learn web development today and apply it tomorrow.</p>
        <a class="btn btn-warning" href="{% url 'all_courses'%}">START LEARNING </a>
    </div>

    <div class="col-md-6  text-center p-0  " >
        <!-- <div class="row mt-3">
            <div class=" col-md-12 text-center text-dark">
                
                <h3>Create Your Free Account</h3>
            </div>
        </div> -->
        <!-- <div class=" row mt-3">
            <div class=" col-md-4 mt-2">
                <button class=" btn btn-primary form-control "><i class="fa fa-linkedin mr-1" style="font-size: 20px;"></i> LinkedIn</button>
            </div>
            <div class=" col-md-4 mt-2">
                <button class=" btn  form-control" style=" background:blue;color:white; "> <i class="fa fa-facebook-square mr-1" style="font-size: 20px;"></i>Facebook</button>
            </div>
            <div class=" col-md-4 mt-2">
                <button class=" btn btn-danger form-control"> <i class="fa fa-google mr-1" style="font-size:20px;color: white;border-radius: 2px;" ></i> Google</button>
                
            </div>

        </div> -->
        <div class="row ml-3" style="background-color: blanchedalmond;   border-radius: 5px;margin-top: 180px;">
        <div class="col-md-12 p-0" >
            <h1 class="text-center "><strong> For Sign Up Click Here </strong> </h1>
            <hr>
            <img src="static/images/clickhere.gif" height="100" width="100" class="mt-5" alt="">

        </div>
        <div class="col-md-12 mt-2" >
            <!-- <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text"class="py-4 form-control " placeholder="Email Adress " aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="password"class="py-4 form-control " placeholder="Password " aria-label="Password" aria-describedby="basic-addon1">
            </div> -->
            <a href="" data-toggle="modal" data-target="#not_reg" class="btn form-control mt-5 text-white btn-secondary" value="Create Free Account" > <strong >Create Free Account</strong> </a>
            <div ><small >By continuing you accept the Terms of Use and Privacy Policy. You also accept that you are aware that your data will be stored outside of the EU and that you are above the age of 16.</small ></div>
        </div>
    </div>
    </div>
</div>
<!-- TOP HEADER BACKGROUND ENDS-->

<!-- LEARN THE WAY START -->
<div class="row text-center mx-auto  learnthewaymarginquery">
    <div class="col-md-12 text-center pt-3" style="border-top: 1px solid gray; ">
        <h1>Learn The Way You Learn Best</h1>
        <p class="mx-auto my-5"
        style="width: 80%;">You learn best when you get to apply what you learn quickly. That’s why we’ve developed Courses that combine short expert videos with immediate hands-on-the-keyboard exercises. Why we have built Practice Mode with instant and personalised feedback on every exercise. And why we have developed DataCamp Projects based on real-world problems.</p>
        <img alt="Python, R, SQL, Spark" class="dc-learn-by-doing__logoset mt-2" width="50%" src="/static/images/python-r-sql-spark-dark-92c082e22af0e27a1d74369c0f6dba0b.svg">
        <img alt="Git, Shell, Spreadsheets" class="dc-learn-by-doing__logoset mt-2" width="50%" src="/static/images/git-shell-spreadsheets-dark-2d8e837b6c4c6e758cb1a04c0a32a3b2.svg">
    
    </div>

</div>
<!-- LEARN THE WAY END -->

    <div class="row p-5 my-3"style="background-color: black;">
        <div class="col-sm-12 col-md-3 mx-auto bg-white p-4 my-1">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Go at your own pace" data-purpose="unit-icon" width="42" height="42" class="" src="/static/images/go_own_pace.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Go at your own pace</b></span>
            <p style="color: rgb(194, 194, 194);">Enjoy lifetime access to courses on Udemy’s website and app</p>
            </div>
            </div>
            
        </div>
        <div class="col-sm-12 col-md-3 mx-auto bg-white my-1 p-4">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Learn from industry experts" data-purpose="unit-icon" width="40" height="43" class="" src="/static/images/learn_from_experts.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Learn from industry experts</b></span>
            <p style="color: rgb(138, 135, 135);">Select from top instructors around the world</p>
                
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 mx-auto my-1 bg-white p-4">
            <div class="row px-0">
            <div class="col-md-2">
                <img alt="Find video courses on almost any topic" data-purpose="unit-icon" width="40" height="44" class="" src="/static/images/video_courses.svg">
            </div>
            <div class="col-md-10">
                <span style="font-size: 20px;"><b>Find video courses on almost any topic</b></span>
            <p style="color: rgb(194, 194, 194);">Build your library for your career and personal growth</p>
            </div>
            </div>

        </div>
    </div>


    <div class="row mx-0 my-4 py-4"  >
        <div class="col-md-12 text-center my-5">
            <h1>Latest Courses</h1>
        </div>
                <div class="row shadow-lg" >
                 {% for i in courses %}      
       
                   <div class="col-md-3 mt-2 mb-2 shadow-lg shadow" >
                       <div class="card  text-center h-100"  >
                           <div class="text-center">
                               <img class="card-img-top rounded" height="150" width="50%"  src=" /media/{{i.course_image}} " alt="Card image cap">
                           </div>
                           <div class="card-body">
                              
                             <h5 class="card-title">{{i.course_name}}</h5>
                             <hr>

                             <p class="card-text">{{i.details|truncatewords:20 }}</p>

                             <div class="linec "></div>
                             <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                             <br>
                                <a href="{%url 'single_course'%}?cid={{i.id}}" class=" btn btn-outline-warning my-1 text-dark  w-100 px-5"><strong>Details...</strong></a>
                           </div>
                      
                       </div>
                   </div>
                  {%endfor%} 
       
               
               
    </div>
    <!-- COURSES END -->
    
    
    </div>

    <!-- OUR TEACHERS PART START -->
    <!-- <div class="row">
        <div class="col-md-12 mx-auto text-center ">

            
                    {% for i in usr%}
                    <div class="carousel-item  px-0 "> 
                    <div class="text-center p-5"style="width:100%;height:300px;background-color: blanchedalmond;color:white;">
                        {%for j in img %}
                        <img src="/media/{{j.profile_pic}}" alt="" style=" border-radius: 100%; height: 110px;width: 110px;"> 
                        {%endfor%}
                           <h3>{{i.first_name}}</h3>
                           <p>HTML/CSS{{i.username}}</p>
                    </div>
                    </div>
                    {%endfor%}
                    
 
            <div class="row mx-auto mt-5">
                
                <div class="col-md-2 card  mx-auto">
                    <img src="/media/profiles/20/05/06/unnamed.jpg" height="200" class="rounded-circle" width="100%" alt="">
                    <h4 class="text-center">Ramparsad</h4>
                </div>
                <div class="col-md-2 card  mx-auto">
                    <img src="/media/profiles/20/05/06/unnamed.jpg" height="200" class="rounded-circle" width="100%" alt="">
                    <h4 class="text-center">Ramparsad</h4>
                </div>
                <div class="col-md-2 card  mx-auto">
                    <img src="/media/profiles/20/05/06/unnamed.jpg" height="200" class="rounded-circle" width="100%" alt="">
                    <h4 class="text-center">Ramparsad</h4>
                </div>
               
            </div>
            <div class="row mx-auto">
                <div class="col-md-4  mx-auto">
                    <h1 class="mt-5 card">Our Best Teachers</h1>
                </div>

            </div>

        </div>

    </div> -->
    <div class="row my-5">

        <div class="col-md-7 p-0 mt-5" style="background: url('static/images/stu13.jpg');background-size: 100% 100%;">
            <div style="background-color: rgba(0, 0, 0, 0.7);padding:0 px; height: 100%; width: 100%;">
                <h1 class="text-center text-white p-0" style="vertical-align: middle;text-align: center;line-height: 250px; " > Live Feedbacks <i class="fa fa-arrow-right" aria-hidden="true"></i></h1>
            </div>

        </div>


        <div class="col-md-5 my-5 ">
            
            <div class="carousel slide px-0 mx-0 mt-5 " data-ride="carousel" id="feed">
                <ul class="carousel-indicators" >
                    <li data-target="#feed" data-slide-to="0" class="active "></li>
                    <li data-target="#feed" data-slide-to="1" ></li>
                    <li data-target="#feed" data-slide-to="2" ></li>
                    <li data-target="#feed" data-slide-to="3" ></li>
                   
                </ul>
                <div class="carousel-inner">
                    {% for i in feedback%}
                    <div class="carousel-item  px-0 "> 
                    <div class="text-center p-5"style="width:100%;height:200px;background-color: gray;color:white;">
                        <p>{{i.message}} </p>
                        <h5>{{i.firstname}}</h5>

                        <h3>STUDENT</h3>
                    </div>
                    </div>
                    {%endfor%}
                    <div class="carousel-item active px-0 "> 
                        <div class="text-center p-5"style="width:100%;height:200px;background-color: gray;color:white;">
                            <p>Live </p>
                            <h5>Feedback</h5>
    
                            <h3>STUDENT</h3>
                        </div>
                        </div>
                    
                    
                </div>
    
                <!-- <a href="#feed" class="carousel-control-prev"  data-slide="prev">
                    <span class="carousel-control-prev-icon" ></span>
                </a>
    
                
                <a href="#feed" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a> -->
            </div>
    
        </div>
          
    </div>
    <!-- OUR TEACHERS PART END -->
    
    {%if status %}
    <script>
        alert("{{status}}")
        // window.location ="/"
    </script>
    {%endif%}
{% endblock %}



