{%extends 'dashboard_base.html'%}
{%block dashboard %}
<div class="container ">
<div class="contianer-fluid">
    <div class="row" >
        <div class="col-md-12 px-0">
            <h2>Dashboard My Courses{{courses|length}}</h2>
            <table class="table table-responsive">
                <thead>
                    
                    <th>course </th>
                    <th>Course Name</th>
                    <th>Course Image</th>
                    <th>Teacher_name</th>
                    <th>Videos</th>
                    <th>actions</th>
                    
                </thead>
                <tbody>
                    {% for c in courses %}
                   

                    
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="/media/{{c.course_image}}"height="200" width="100" alt=""></td>

                        <td>{{c.course_name}}</td>
                        <td>{{c.Teacher.first_name}} {{c.Teacher.last_name}}</td>
                        <td><a href="{%url 'videos_show'%}?cid={{c.id}}"><button class="btn btn-warning px-2">Uploaded videos</button></a></td>

                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#m{{c.id}}"> <i class="fa fa-eye">View</i>  </button>
                            <a href="{% url 'update_course' %}?cid={{c.id}}" class="btn btn-warning"> <i class="fa fa-edit">Edit</i>  </a>

                            <a href="{% url 'delete_course' %}?cid={{c.id}}" class="btn btn-danger">  <i class="fa fa-trash">Delete</i>  </a>
                        </td>
                    </tr>

  
                            <!-- Modal -->
                            <div class="modal fade" id="m{{c.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title" >Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body">
                                                    <img src="/media/{{c.course_image}}"height="200" width="50%" alt="">        
                                                <h2>{{c.course_name}}</h2>
                                                <p>
                                                    <del>&#8377; {{c.course_price}}</del>
                                                    <strong>&#8377; {{c.Sale_price}}</strong>
                                                </p>
                                                <p><strong>Description:</strong>{{c.details}}</p>
                                                <div class="modal-footer">
                                                    <a href="{%url 'single_course' %}?cid={{c.id}}" class="btn btn-success">View Details</a>
                                                </div>    
                                        </div>
                                    </div>
                       
                                </div>
                            </div>

                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</div>
</div>
{%endblock%}