{% extends 'base.html' %}
{%block content_block %}

    <div class="row">
        <div class="col-md-12 p-0 " style="background-color: black; height: 300px; width: 100%;" height="100" width="100%">
            <h1 class="text-success text-center " style="line-height: 300px;">Payment Done!!!</h1>
        </div>
        <div class="col-md-12">
            <h1 class="text-center">go to....</h1>

        </div>
        <div class=" col-md-3 mx-auto my-5">
            <a href="{%url 'teacher_dashboard'%}" class="btn btn-danger px-5 form-control">Dashboard</a>

        </div>
        <div class="col-md-3 mx-auto my-5">
            <a href="{%url 'all_courses' %}"class="btn btn-success px-5 form-control">Continue...</a>

        </div>

    </div>


{%endblock%}