{% extends 'base.html' %}
{% block content_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0 " style="background-color: black; height: 300px; width: 100%;" height="100" width="100%">
            <h1 class="text-white text-center " style="line-height: 300px;"></h1>
        </div>
        <div class="col-md-4 mx-auto">
            <h4 class="text-center text-danger ">click here for buy a course</h4>
            {{form.render}}

        </div>

    </div>

</div>
{% endblock %}