{%extends 'dashboard_base.html' %}
{%load static%}
{% block dashboard%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto mt-3">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                             <img src="/media/{{course.course_image}}" height="200" width="100" alt="">
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Course Name</th>
                        <td>{{course.course_name}}</td>
                    </tr>
                    {% if pvid %}
                    {%else%}
                    <tr>
                        <th>Price</th>
                        <td><del>&#8377;{{course.course_price}}</del></td>
                    </tr>
                    <tr>
                        <th>Sale price</th>
                        <td>&#8377;{{course.Sale_price}}
                            <script>
                                let t ="{{course.course_price}}"
                                let s ="{{course.Sale_price}}"
                                let dis = 100-(s/t)*100
                                document.write("<strong class='text-danger')>("+Math.round(dis,3)+ ")%</strong>");
                            </script>

                        </td>
                    </tr>
                    {%endif%}
                    <tr>
                        <th>Detail</th>
                        <td>{{course.details}}</td>
                    </tr>
                    {% if pvid %}
                    {%else%}
                    <tr>
                        <th>BUY</th>
                        <td><a class="btn btn-outline-danger px-5  " href="{%url 'process_payment'%}?cid={{cid}}"> <strong>  <i class="fa fa-shopping-bag"></i>Buy Now </strong></a></td>
                    </tr>
                    {%endif%}

                </tbody>
            </table>
            


        </div>
        <div  class="col-md-4">
            
            <table class="table card table-hover mt-5 ">
                <thead>
                    <th><h4 style="text-align: right;">Catagory </h4></th>
                    <th><h4>Detail</h4></th>

                </thead>
                <tbody>
                    <tr>
                        <th>Catagory Name</th>
                        <td>{{course.course_catagory.cat_name}}</td>
                    </tr>
                    <tr>
                        <th>Catagory Discription</th>
                        <td>{{course.course_catagory.description}}</td>
                    </tr>
                    
                </tbody>
            </table>

        </div>
        <hr>
        <div class="col-md-12">
            {% if user.is_authenticated %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sr.num</th>
                        <th>Name</th>
                        <th>Catagory</th>
                        <th>Video</th>

                    </tr>
                </thead>


                <tbody>
                    {% if pvid %}

                   
                    
                    {% for i in video %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.video_title}}</td>
                        <td>{{i.video_catagory}}</td>
                        <td><button class="btn btn-outline-secondary px-5" data-toggle="modal" data-target="#v{{i.id}}" >Preview... </button></td>

                    </tr>
                    {%endfor%}

                    {%else%}
                    <h1>please buy a course</h1>
                    {%endif%}

                </tbody>
            </table>
            {%else%}

            
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sr.num</th>
                                <th>Name</th>
                                <th>Catagory</th>
                                <th>Video</th>
        
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="col-md-4 mx-auto text-center ">

                    <h4>Please login for access course 👋</h4>
                   
                    <button  type="button" class="btn d-none d-md-block btn-outline-warning btn-lg rounded-pill my-3 " data-toggle="modal" data-target="#myModal"><b>LOGIN</b></button> 
                  

                </div>

            </div>
            
            {%endif%}
        </div>
        {% for i in video%}
            
            <div class="col-md-12">
                                    <!-- Modal -->
                    <div class="modal modalk fade" id="v{{i.id}}" data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content  p-0 m-0" style=" background-color: transparent !important;border: none;">
                            <div class="row">
                                <div class="col-md-1 mx-auto">
                                    <button  data-dismiss="modal"  class="close" type="button" onclick="a()" >
                                        <span aria-hidden="true" style="color: red; font-size:62px;">x</span>
                                        
                                    </button>

                                </div>

                            </div>
                           
                            <div class="modal-body p-0 m-0">
                                <video src="/media/{{i.video}}"  height="100%" width="100%" controls></video>
                                <!-- <h6>{{i.video_title}}</h6> -->
                            </div>
                            
                        </div>
                        </div>
                    </div>
                

            </div>
            {%endfor%}

    </div>

</div>
<script>
   function a(){
    

    $('video').trigger('pause');
    window.location.reload(false);
   }
   $(window).load(function(){ 
 //PAGE IS FULLY LOADED 
 //FADE OUT YOUR OVERLAYING DIV
 $('body').fadeOut(9000);
});
</script>

{%endblock%}