{% extends 'base.html' %}
{% block content_block%}
<div class="conatiner-fluid">
    <div class="row">
        <div class="col-md-12 p-5" style="background-color: black;height: 100px; width: 100%;">

        </div>
        <div class="col-md-12 mt-5">
            <h1>Welcome  "   {{user.first_name}}     {{user.last_name}}  " </h1>

        </div>

    </div>

</div>
{%endblock%}