{% extends 'dashboard_base.html' %}
{% block dashboard %}
<div class="container">
    <h1 class="text-center mt-5" style="color: white; background-color:black ;">Welcome  to Dashboard  Mr/Miss  {{user.first_name}}     {{user.last_name}}</h1>

<div class="conatiner-fluid">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto ">
            <div class="card">
                <div class="card-header">
                    <h1>My Details</h1>

                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            
                            
                            <tr>
                                <th>Fullname</th>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{user.email}}</td>
                            </tr>
                        </tbody>
                       <tfoot>
                           <tr>
                               <th>last_login</th>
                               <td>{{user.last_login}}</td>
                               
                           </tr>
                       </tfoot>

                    </table>

                </div>

            </div>

           


        



        </div>

    </div>

</div>
</div>
{%endblock%}