{% extends 'dashboard_base.html' %}
{% load static %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1>DASHBOARD &gt; EDIT PRODUCT</h1>
                

                </div>
                <div class="card-body">
                    <form action=""method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Course Name</label>
                            </div>
                            <div class=" col-md-6">
                                <input type="text" name="cname" value="{{course.course_name}}" class="form-control">

                            </div>
                            <div class="col-md-6">
                                <label for="">Course Catagory</label>
                            </div>
                            <div class=" col-md-6">
                                
                                <select name="ccat" id="" class="form-control">
                                    {% for i in cats %}
                                        {% if i.id == course.course_catagory.id %}
                                        <option value="{{i.id}}" selected>{{i.cat_name}}</option>
                                        {% else %}
                                        <option value="{{i.id}}">{{i.cat_name}}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="">Course Image</label>
                            </div>
                            <div class=" col-md-6">
                                <img src="/media/{{course.course_image}}" height="100" width="100" alt="">
                            </div>
                            <div class="col-md-6">
                                <label for="">Course Image</label>
                            </div>
                            <div class=" col-md-6">
                                <input type="file" name="cimg" class="form-control">

                            </div>
                            <div class="col-md-6">
                                <label for="">Course Price</label>
                            </div>
                            <div class=" col-md-6">
                                <input type="text" value="{{course.course_price}}" name="cprice" class="form-control">

                            </div>
                            <div class="col-md-6">
                                <label for="">Sale Price</label>
                            </div>
                            <div class=" col-md-6">
                                <input type="text" value="{{course.Sale_price}}" name="sprice" class="form-control">

                            </div>
                            <div class="col-md-6">
                                <label for="">Detail</label>
                            </div>
                            <div class=" col-md-6">
                                <textarea  name="detail" rows="5" class="form-control">{{course.details}}</textarea>

                            </div>

                        </div>
                        <div class="row">
                            <input type="submit" class="btn btn-warning form-control"  value="Save changes ">

                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
{% if status %}
    <script>
        alert("{{status}}");
        window.location = 'update_course/?cid={{id}}';
    </script>

{%endif%}

{%endblock%}