{%extends 'dashboard_base.html'%}
{% block dashboard %}
<div class="container-fluid">
    <div class="row card m-2">

        <div class="col-md-12 p-0">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Sr.num</th>
                        
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in video%}

                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{i.video_title}}</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#m{{i.id}}"> <i class="fa fa-eye">View</i>  </button>
                            <button data-toggle="modal" data-target="#E{{i.id}}" class="btn btn-warning"> <i class="fa fa-edit">Edit</i>  </button>

                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#d{{i.id}}">  <i class="fa fa-trash">Delete</i>  </a>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>

            </table>

            
        </div>
        <!-- for view video  -->



        <div class="col-md-12">
            <!-- Modal -->
            {%for i in video%}
            <div class="modal fade" id="m{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <video class="embed-responsive-item" preload="none" height="20%" width="100%"   controls="controls">
                            <source src="/media/{{i.video}}" autostart="false">
                            Your browser does not support the video tag.
                         </video>
                        
                        <!-- <video src="/media/{{i.video}}" height="200" autoplay=""  controls width="100%"></video> -->
                        <h6>{{i.video_title}}</h6>
                    </div>
                                        
                </div>
                </div>
            </div>
<!-- update for video  -->

            <div class="modal fade" id="E{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="{%url 'videos_show'%}?cid={{cid}}" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="col-md-12">
                                <h3 class="text-center">Edit</h3>
                                <hr>
                                <div class="form-group">
                                    <video class="embed-responsive-item"  controls="controls" height="20%" width="100%" preload="none">
                                        <source src="/media/{{i.video}}" autostart="false" >
                                        Your browser does not support the video tag.
                                     </video>
                                    <label for="">Video update</label>
                                    <input type="file" class="form-control" name="vupdate">

                                </div>
                                <div class="form-group">
                                    <label for=""> Video Title</label>
                                    <input type="text" name="vname" value="{{i.video_title}}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Video Discription</label>
                                    <textarea class="form-control" name="vidisc" id="" cols="30" rows="10">{{i.video_description}}</textarea>

                                </div>
                               
                                <input type="hidden" name="E" value="{{i.id}}">
                                <input type="submit" class="btn btn-outline-warning form-control" name="editvideo">


                            </div>
                            
                        </form>
                        
                        
                        
                    </div>
                    
                                        
                </div>
                </div>
            </div>
            <!-- Modal -->
            <form action="{% url 'videos_show' %}?cid={{cid}}">
                <div class="modal fade" id="d{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    
                        
                        <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Name:{{i.video_title}}</strong>
                                    <h4>Are you sure want to delete this video ?</h4>
                                    <a href="{%url 'videos_show'%}?vid={{i.id}}&&cid={{cid}}&&action=confirm" class="btn btn-danger" type="submit">Confirm delete</a>
                                    <a href="{%url 'videos_show'%}?cid={{cid}}" class="btn btn-warning" type="submit">Cancel</a>
                                     <!-- <input type="hidden"value={{cid}} name="page">    -->
                                </div>

                            </div>

                        </div>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </form>






            {%endfor%}

        </div>

    </div>

</div>
{%if delete%}
<script>
    alet("{{delete}}")
</script>
{%endif%}

{%endblock%}